# Flask Configuration
SECRET_KEY=your_flask_secret_key_here
FLASK_ENV=development

# OMDb API Configuration
OMDB_API_KEY=your_omdb_api_key_here

# TMDB API Configuration
TMDB_API_KEY=your_tmdb_api_key_here

# Twilio Configuration (Optional - Sandbox Mode will be used if left empty)
TWILIO_ACCOUNT_SID=your_twilio_account_sid_here
TWILIO_AUTH_TOKEN=your_twilio_auth_token_here
TWILIO_PHONE_NUMBER=your_twilio_phone_number_here

# Flask-Mail configuration (Optional - Sandbox Mode will be used if left empty)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_email_app_password_here
MAIL_DEFAULT_SENDER=your_email@gmail.com
